#content.wide
  %h1= t.section.manager
  = link_to t.section.new, new_admin_section_path, :id => "new_section"
  %table
    %tr
      %th= t.admin.name
      %th= t.admin.actions
    - @admin_sections.each do |section|
      %tr
        %td= link_to section.name, edit_admin_section_path(section)
        %td
          = link_to_toggle section
          = form_for [:admin, section] do |f|
            = f.text_field :show_order
            = f.submit :class => :hidden
          = link_to t.admin.delete, admin_section_path(section), :method => :delete, :confirm => t.admin.delete_confirmation