= form_for [:admin, @project] do |f|
  %p
    = f.label :section_id, @project.class.human_attribute_name(:section_id)
    %br
    = f.select :section_id, [["---",nil]]+@admin_sections.map{ |s| [s.name, s.id]}
  %p.column
    = f.label :name_cs, @project.class.human_attribute_name(:name_cs)
    %br
    = f.text_field :name_cs
  %p.column
    = f.label :name_en, @project.class.human_attribute_name(:name_en)
    %br
    = f.text_field :name_en
  %p.column
    = f.label :name_ru, @project.class.human_attribute_name(:name_ru)
    %br
    = f.text_field :name_ru
  %p
    = f.check_box :enabled
    = f.label :enabled, @project.class.human_attribute_name(:enabled)
  %p
    = f.submit
    = f.submit t.admin.apply, :id => "project_apply", :name => "apply"
= link_to t.project.back, admin_projects_path