#content.wide
  %h1= t.project.edit
  = render "form"
  %a.dialog_open{:dialog_id => :dialog_new_description}= t.description.new
  %table
    %tr
      %th= t.description.image
      %th= t.description.text
      %th= t.admin.actions
    - @descriptions.each do |description|
      %tr
        %td= image_tag description.image.url(:thumb)
        %td!= description.text
        %td
          %a.dialog_open{:dialog_id => "dialog_description_"+description.id.to_s}
            = t.description.edit
          = link_to_toggle [@project, description]
          = link_to t.admin.delete, admin_project_description_path(@project, description), :method => :delete, :confirm => t.admin.delete_confirmation

#dialog_new_description.dialog_description
  = render "admin/descriptions/form", :description => Description.new
- @descriptions.each do |description|
  #dialog_description.dialog_description{:id => description.id}
    = render "admin/descriptions/form", :description => description
