#content.wide
  %h1= t.project.edit
  = render "form"
  %table
    %tr
      %th= t.description.image
      %th= t.description.text
      %th= t.admin.actions
    - @descriptions.each do |description|
      %tr
        %td= image_tag description.image.url(:thumb)
        %td!= description.text
        %td
          = link_to_toggle [@project, description]
          = link_to t.admin.delete, admin_project_description_path(@project, description), :method => :delete, :confirm => t.admin.delete_confirmation