#content.wide
  %h1= t.project.manager
  = form_tag admin_projects_path, :method => :get, :id => :section_filter_form do
    = select_tag :section_id, options_for_select([["---",nil]]+@admin_sections.map{ |s| [s.name, s.id]}, session[:section_id])
    = submit_tag "", :class => :hidden
  = link_to t.project.new, new_admin_project_path, :id => "new_project"
  %table
    %tr
      %th= t.admin.name
      %th= t.project.section
      %th= t.admin.actions
    - @projects.each do |project|
      %tr
        %td= link_to project.name, edit_admin_project_path(project)
        %td= project.section ? project.section.name : "---"
        %td
          = link_to t.project.view, project_path(project)
          = link_to_toggle project
          = link_to "<<", admin_project_path(project, :order => :top), :method => :put
          = link_to "<", admin_project_path(project, :order => :up), :method => :put
          = project.show_order
          = link_to ">", admin_project_path(project, :order => :down), :method => :put
          = link_to ">>", admin_project_path(project, :order => :bottom), :method => :put
          = link_to t.admin.delete, admin_project_path(project), :method => :delete, :confirm => t.admin.delete_confirmation