#content.wide
  != @contact_message
  = form_for @contact, :as => :contact, :url => contacts_path do |f|
    = f.label :name
    = f.text_field :name
    = f.label :email
    = f.text_field :email
    = f.label :phone
    = f.text_field :phone
    = f.label :message
    = f.text_area :message
    = f.submit