= form_for [:admin, @project, description], :html => { :multipart => true } do |f|
  %p
    = f.label :image, description.class.human_attribute_name(:image)
    %br
    = f.file_field :image
    = check_box_tag "description[image_file_name]", ""
    = f.label :image_file_name, description.class.human_attribute_name(:image_file_name)
  %p.narrow
    = f.label :text_cs, description.class.human_attribute_name(:text_cs)
    %br
    = f.text_area :text_cs
  %p.narrow
    = f.label :text_en, description.class.human_attribute_name(:text_en)
    %br
    = f.text_area :text_en
  %p.narrow
    = f.label :text_ru, description.class.human_attribute_name(:text_ru)
    %br
    = f.text_area :text_ru
  %p
    = f.check_box :enabled
    = f.label :enabled, description.class.human_attribute_name(:enabled)
  %p
    = f.label :show_order, description.class.human_attribute_name(:show_order)
    %br
    = f.text_field :show_order
  %p
    = f.submit
